header {
    background-color: #000000;
    color: rgb(233, 176, 176);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 176, 176);
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000000;
}
