img {
    width: 10%;
    height: auto;
    border-radius: 50%;

}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

}

header {
    background-color: #222020;
    color: rgb(233, 176, 176);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585858;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0e0d0d;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

aside {
    background-color: #080808;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #585858;
    color: rgb(233, 176, 176);
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-top: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.links a {
    text-decoration: none;
    color: rgb(233, 176, 176);

}

.imagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;

}


.imagens img {
    width: 100px;
}