img {
    width: 10%;
    height: auto;
}

h1 {
    color: rgba(195, 0, 255, 0.644);
    text-align: center;
}

p {
    font-size: 18px;
    color: rgb(0, 0, 0);

}


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lora:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
 /* font-family: 'Merriweather', sans-serif; */ */ */

}

